:root {
  --primaryFont: 'DM Sans', sans-serif;
  --secondaryFont: 'Titan One', cursive;

  --primaryTextColor: #ffffff;
  --secondaryTextColor: #000000;
  --accentColor: #d41443;
  --informationColor: #ffa5ba;
  --descriptionColor: #907e82;
}
