:root {
  --primaryFont: 'DM Sans', sans-serif;
  --secondaryFont: 'Titan One', cursive;

  --primaryTextColor: #ffffff;
  --secondaryTextColor: #d41443;

  color: #ffa5ba;
  color: #000000;
  color: #907e82;
}
