<section class="box-about" id="about">
  <div class="box-about__overlay">
    <div class="container">
      <p class="box-about__suptitle">TRADITION AND LOVE</p>
      <h2 class="box-about__title">HOW IT'S MADE?</h2>
      <div class="box-about__content">
        <div class="box-about__bg-bossy"></div>
        <div class="box-about__information">
          <p class="box-about__main-text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="box-about__details-text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt. <br /><br />Aliquam erat volutpat. Aenean
            accumsan.
          </p>
          <button type="button" class="button box-about__button" data-about-modal-open>
            Read more
            <svg class="box-about__btn-svg" width="10px" height="12px">
              <use href="./images/icon/arrow-button.svg#icon-arrow-button"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- BACKDROP -->
<div class="backdrop is-hidden" data-about-modal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-about-modal-close>
      <svg class="modal__icon-close-btn">
        <use href="./images/icon/close-button.svg#icon-cross"></use>
      </svg>
    </button>
    <p class="modal__suptitle">TRADITION AND LOVE</p>
    <p class="modal__title">HOW IT'S MADE?</p>
    <p class="modal__main-text">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <p class="modal__details-text">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt. <br /><br />Aliquam erat volutpat. Aenean accumsan.
    </p>
  </div>
</div>
