<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Наши контакты</h2>
    <ul class="list contacts__list">
      <li class="contacts__item">
        <div class="retail-card">
          <div class="retail-card__item">
            <p class="item__name item__name--first">cafe</p>
          </div>
          <div class="retail-card__item">
            <p class="item__location">Chicago</p>
            <p class="item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="retail-card__item">
            <div class="item__workday">
              <p class="working__day">Monday - Friday</p>
              <p class="working__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="item__workday">
              <p class="working__day">Saturday - Sunday</p>
              <p class="working__time">08:00 AM - 16:00 PM</p>
            </div>
          </div>
          <div class="retail-card__item">
            <a class="item__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="item__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <div class="retail-card">
          <div class="retail-card__item">
            <p class="item__name item__name--second">foodtruck</p>
          </div>
          <div class="retail-card__item">
            <p class="item__location">Los Angeles</p>
            <p class="item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="retail-card__item">
            <div class="item__workday">
              <p class="working__day">Monday - Friday</p>
              <p class="working__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="item__workday">
              <p class="working__day">Saturday - Sunday</p>
              <p class="working__time">08:00 AM - 16:00 PM</p>
            </div>
          </div>
          <div class="retail-card__item">
            <a class="item__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="item__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <div class="retail-card">
          <div class="retail-card__item">
            <p class="item__name item__name--third">cafe</p>
          </div>
          <div class="retail-card__item">
            <p class="item__location">New York</p>
            <p class="item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="retail-card__item">
            <div class="item__workday">
              <p class="working__day">Monday - Friday</p>
              <p class="working__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="item__workday">
              <p class="working__day">Saturday - Sunday</p>
              <p class="working__time">08:00 AM - 16:00 PM</p>
            </div>
          </div>
          <div class="retail-card__item">
            <a class="item__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="item__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </li>
    </ul>
    <div class="contacts__button">
      <button type="button" class="button button--red" data-location-modal-open>
        Our Locations &#62;
      </button>
      <button type="button" class="button" data-franchise-btn-open>Franchise &#62;</button>
    </div>
    <div class="location-popup" data-location-popup>
      <div class="location-popup__body body">
        <button class="body__close-button" type="button" data-location-modal-close>
          <svg class="body__close-icon">
            <use href="./images/icons.svg#popup-close-btn"></use>
          </svg>
        </button>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20836.848757069787!2d30.097725!3d49.245957!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x29c55302054853d9!2z0JbQsNGI0LrRltCy0YHRjNC60LAg0YDQsNC50LTQtdGA0LbQsNC00LzRltC90ZbRgdGC0YDQsNGG0ZbRjw!5e0!3m2!1suk!2sua!4v1619535183994!5m2!1suk!2sua"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        >
        </iframe>
      </div>
    </div>
    <div class="franchise-popup" data-franchise-modal>
      <div class="franchise-popup__body body">
        <button class="body__close-button" type="button" data-franchise-btn-close>
          <svg class="body__close-icon">
            <use href="./images/icons.svg#popup-close-btn"></use>
          </svg>
        </button>
        <form action="#" class="franchise-popup__form form" autocomplete="off">
          <b class="form__text--title"
            >Преимущества совместного сотрудничества при покупке франшизы:</b
          >
          <ul class="form__list">
            <li class="form__item">
              <p class="form__text--subtitle">
                испытанная концепция, которая позволяет открыть собственный бизнес
              </p>
            </li>
            <li class="form__item">
              <p class="form__text--subtitle">торговля высококачественным продуктом класса-люкс</p>
            </li>
            <li class="form__item">
              <p class="form__text--subtitle">взаимовыгодная ценовая политика бизнес-партнеров</p>
            </li>
            <li class="form__item">
              <p class="form__text--subtitle">регулярная и бесперебойная доставка продукции</p>
            </li>
            <li class="form__item">
              <p class="form__text--subtitle">быстрая окупаемость вложений</p>
            </li>
          </ul>
          <b class="form__text">Оставьте свои данные, мы вам перезвоним</b>
          <label class="form__field">
            Имя
            <span class="form__input-wrapper"
              ><input
                type="text"
                name="user-name"
                class="form__input"
                placeholder="Иван Иванов"
                required
              />
            </span>
          </label>
          <label class="form__field">
            Телефон
            <span class="form__input-wrapper">
              <input
                type="tel"
                name="user-phone"
                class="form__input"
                placeholder="098-765-43-21"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                title="097-111-11-11"
                required
              />
            </span>
          </label>
          <label class="form__field">
            Почта
            <span class="form__input-wrapper">
              <input
                type="email"
                name="user-email"
                class="form__input"
                placeholder="name@mail.com"
                required
              />
            </span>
          </label>
          <label class="form__field">
            Комментарий
            <textarea name="comment" class="form__comment" placeholder="Введите текст"></textarea>
          </label>
          <button class="button button--red" type="submit">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
