<!-- CONTACTS -->
    <section class="contacts">
        <div class="container">
            <h2 class="visually-hidden">Наши контакты</h2>
            <ul class="contacts__list">
                <li class="contacts__item">
                    <div class="retail-card">
                        <p class="retail-card__name">cafe</p>
                        <div class="retail-card__location location">
                            <p class="location__name">Chicago</p>
                            <p class="location__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </div>
                        <div class="retail-card__working working">
                            <div class="working__weekdays">
                                <p class="working__day">Monday - Friday</p>
                                <p class="working__time">06:00 AM - 10:00 PM</p>
                            </div>
                            <div class="working__weekend">
                                <p class="working__day">Saturday - Sunday</p>
                                <p class="working__time">08:00 AM - 16:00 PM</p>
                            </div>
                        </div>
                        <div class="retail-card__communication communication">
                            <a class="communication__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            <a class="communication__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </div>
                    </div>
                </li>
                <li class="contacts__item">
                    <div class="retail-card">
                        <p class="retail-card__name">food truck</p>
                        <div class="retail-card__location location">
                            <p class="location__name">Los Angeles</p>
                            <p class="location__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </div>
                        <div class="retail-card__working working">
                            <div class="working__weekdays">
                                <p class="working__day">Monday - Friday</p>
                                <p class="working__time">06:00 AM - 10:00 PM</p>
                            </div>
                            <div class="working__weekend">
                                <p class="working__day">Saturday - Sunday</p>
                                <p class="working__time">08:00 AM - 16:00 PM</p>
                            </div>
                        </div>
                        <div class="retail-card__communication communication">
                            <a class="communication__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            <a class="communication__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </div>
                    </div>
                </li>
                <li class="contacts__item">
                    <div class="retail-card">
                        <p class="retail-card__name">cafe</p>
                        <div class="retail-card__location location">
                            <p class="location__name">New York</p>
                            <p class="location__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </div>
                        <div class="retail-card__working working">
                            <div class="working__weekdays">
                                <p class="working__day">Monday - Friday</p>
                                <p class="working__time">06:00 AM - 10:00 PM</p>
                            </div>
                            <div class="working__weekend">
                                <p class="working__day">Saturday - Sunday</p>
                                <p class="working__time">08:00 AM - 16:00 PM</p>
                            </div>
                        </div>
                        <div class="retail-card__communication communication">
                            <a class="communication__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            <a class="communication__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="contacts__button">
                <button type="button" class="button--red">Our Locations</button>
                <button type="button" class="button">Franchise</button>
            </div>            
        </div>
    </section>