<section class="customer-reviews" id="customer-reviews">
  <h2 class="title visually-hidden">Customer reviews</h2>
  <div class="container">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source srcset="./images/review-author.png 1x, ./images/review-author@2x.png 2x" />

            <img
              class="customer-reviews__image"
              src="./images/review-author.png"
              alt="review-author"
            />
          </picture>
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="customer-reviews__author">Sofia, Paris</p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./images/review-author-2.png 1x, ./images/review-author-2@2x.png 2x" />

            <img
              class="customer-reviews__image"
              src="./images/review-author-2.png"
              alt="review-author"
            />
          </picture>
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="customer-reviews__author">Elizabeth, Canada</p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./images/review-author-3.png 1x, ./images/review-author-3@2x.png 2x" />

            <img
              class="customer-reviews__image"
              src="./images/review-author-3.png"
              alt="review-author"
            />
          </picture>
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="customer-reviews__author">Emily, Los Angeles</p>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
