<footer class="footer">
  <div class="footer-title__wrapper container">
    <div class="footer__box-title">
      <p class="footer__suptitle">homemade ice cream made</p>
      <p class="title footer__title">with passion</p>
    </div>

    <div class="footer__box-social">
      <ul class="footer__list">
        <li class="footer__item">
          <a
            class="footer__link"
            href="https://github.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer__icon" width="19" height="19">
              <use href="./images/sprite/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a
            class="footer__link"
            href="https://web.telegram.org/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer__icon" width="19" height="15">
              <use href="./images/sprite/symbol-defs.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a
            class="footer__link"
            href="https://uk-ua.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer__icon" width="9" height="19">
              <use href="./images/sprite/symbol-defs.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__contact-text">
        Feel free to contact&#160;<a class="footer__phone" href="tel:+61(0)383766284">
          +61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>
  <a id="upDown"></a>
  <span class="footer__underline"></span>
  <p class="footer__copyright">&#169;2019 - IceCream. All Rights Reserved.</p>
</footer>
