<section class="gallery">
  <div class="container">
    <div class="gallery__block">
      <picture>
        <source
          srcset="
            ./images/gallery/gallery_desktop.png    1x,
            ./images/gallery/gallery_desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/gallery/gallery_tablet.png 1x, ./images/gallery/gallery_tablet@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/gallery/gallery_mobile.png 1x, ./images/gallery/gallery_mobile@2x.png 2x"
          media="(min-width:480px)"
        />
        <img src="./images/gallery/gallery_desktop.png" alt="" />
      </picture>
    </div>
  </div>
</section>
