<section class="products" id="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>

    <h2 class="products__title">products</h2>

    <ul class="products-list list">
      <li class="products-list__item ice-cream">
        <h3 class="products-list__title">ice cream</h3>

        <p class="products-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>

        <button type="button" class="products-list__btn" data-modal-open data-modal-close>
          <svg class="products-list__btn-icon">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="products-list__overlay" data-modal>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, expedita! Nesciunt soluta
            eius excepturi repellat magni quis nihil sed at aliquid odit. Iusto commodi sequi
            sapiente illo obcaecati, nulla praesentium?
          </p>
        </div>
      </li>

      <li class="products-list__item ice-coffee">
        <h3 class="products-list__title">ice coffee</h3>

        <p class="products-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>

        <button type="button" class="products-list__btn" data-modal-open data-modal-close>
          <svg class="products-list__btn-icon">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="products-list__overlay" data-modal>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, voluptatum voluptate?
          </p>
        </div>
      </li>

      <li class="products-list__item milkshakes">
        <h3 class="products-list__title">milkshakes</h3>

        <p class="products-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>

        <button type="button" class="products-list__btn" data-modal-open data-modal-close>
          <svg class="products-list__btn-icon">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="products-list__overlay" data-modal>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </li>
    </ul>
  </div>
</section>
