<section class="products container">

    <P class="products__subtitle">100% natural</P>

    <h2 class="products__title">products</h2>

    <ul class="products-list list">

        <li class="products-list__item ice-cream">
           
            <h3 class="products-list__title">ice cream</h3>

            <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
            
            <button type="button"  class="products-list__btn" data-modal-open data-modal-close>
                <svg class="products-list__btn-icon">
                    <use href="/images/sprite/sprite.svg#icon-circle-right"></use>
                </svg>              
            </button>
                <!-- <p class="products-list__overlay " data-modal>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum cum cumque
                    consequuntur sint temporibus sequi culpa dicta, error soluta perferendis similique iusto hic harum odit, fugit
                    blanditiis asperiores, praesentium obcaecati.
                </p> -->
           
        </li>

        <li class="products-list__item ice-coffee">           

            <h3 class="products-list__title">ice coffee</h3>

            <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
            
            <button type="button"  class="products-list__btn" data-modal-open data-modal-close>
                <svg>
                    <use href="/images/sprite/sprite.svg#icon-circle-right"></use>
                </svg>
            </button>
            <!-- <p class="products-list__overlay " data-modal>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum cum cumque
                consequuntur sint temporibus sequi culpa dicta, error soluta perferendis similique iusto hic harum odit, fugit
                blanditiis asperiores, praesentium obcaecati.
            </p>           -->
        </li>

        <li class="products-list__item milkshakes">           

            <h3 class="products-list__title">milkshakes</h3>

            <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
            
            <button type="button"  class="products-list__btn">
                <svg>
                    <use href="/images/sprite/sprite.svg#icon-circle-right"></use>
                </svg>
            </button>
           
        </li>

    </ul>
    <script src="../js/modal.js"></script>
</section>