.advantages {
  background-color: var(--backgroundColor);

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 135px;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:before {
      content: '';
      display: block;
      height: 50px;
      width: 50px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-bottom: 40px;
    }

    &:nth-child(1):before {
      //   background-image: url('./images/icon1.png');
    }

    &:nth-child(2):before {
      //   background-image: url('./images/icon2.png');
    }

    &:nth-child(3):before {
      //   background-image: url('./images/icon3.png');
    }
  }

  &__number {
    font-family: var(--secondaryFont);
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    color: #d41443;
  }

  &__description {
    font-family: var(--primaryFont);
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    color: var(--secondaryTextColor);
  }
}
