.gallery {
  background: linear-gradient(to bottom, #fff5f6 46%, #fff 46%);
  padding: 49px 0 40px;

  @media screen and (min-width: 768px) {
    padding: 70px 0 60px;

    background: linear-gradient(to bottom, #fff5f6 44.3%, #fff 44%);
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 63px;

    background: linear-gradient(to bottom, #fff5f6 42.8%, #fff 42.8%);
  }

  & .container {
    padding: 0;
  }

  &__block {
    margin: 0 auto;
  }
}
