.hero {
  background-color: #ffb8ca;
}
.hero__container {
  padding-top: 193px;
  padding-bottom: 160px;

  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding-top: 102px;
    padding-bottom: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    padding-top: 171px;
    padding-bottom: 56px;
  }
}
.hero__description-wrapper {
  width: 200px;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .hero__description-wrapper {
    width: 349px;
  }
}
.hero__title {
  margin-bottom: 20px;

  font-family: var(--secondaryFont);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin-bottom: 25px;
    font-size: 38px;
    line-height: 1.16;
  }
}
.hero__title_accent {
  font-size: 48px;
  line-height: 0.96;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .hero__title_accent {
    font-size: 34px;
    line-height: 0.9;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title_accent {
    font-size: 58px;
  }
}
.hero__btn-list {
  display: flex;
  align-items: center;
}
.hero__btn-list-item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (min-width: 1280px) {
  .hero__btn-list-item:not(:last-child) {
    margin-right: 15px;
  }
}
.hero__btn-list-link {
  padding: 8px 14px;
  background-color: #fff;

  font-size: 8px;
  line-height: 1.25px;
  color: #d41443;
  border-radius: 20px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
@media screen and (min-width: 768px) {
  .hero__btn-list-link {
    padding: 9px 14px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__btn-list-link {
    padding: 14px 24px;
    font-size: 14px;
    line-height: 1.3;
  }
}
.hero__btn-list-link_accent {
  background-color: var(--accentColor);
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}
.hero__img-center {
  position: absolute;
  top: 86px;
  right: 32px;

  animation-name: appearance;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 768px) {
  .hero__img-center {
    top: 73px;
    right: 247px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__img-center {
    top: 108px;
    right: 450px;
  }
}
.hero__ellipse {
  position: absolute;
  top: 83px;
  left: 36px;

  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;

  animation-name: scale;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .hero__ellipse {
    width: 324px;
    height: 322px;
    top: 31px;
    left: 303px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__ellipse {
    width: 538px;
    height: 538px;
    top: 52px;
    left: 485px;
  }
}
.hero__img-left {
  position: absolute;
  bottom: 28px;
  left: 0;

  animation-name: appearance;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1280px) {
  .hero__img-left {
    left: 77px;
  }
}
.hero__text {
  margin-top: 66px;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 7px;
}
@media screen and (min-width: 1280px) {
  .hero__text {
    margin-top: 120px;
    font-size: 11px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 768px) {
  .hero__description-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.hero__text-wrapper {
  width: 114px;
  align-self: flex-end;
}
@media screen and (min-width: 1280px) {
  .hero__text-wrapper {
    width: 200px;
  }
}
.hero__btn {
  padding: 6px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
@media screen and (min-width: 1280px) {
  .hero__btn {
    padding: 8px;
  }
}
.hero__btn-icon {
  width: 8px;
  height: 8px;
  fill: var(--accentColor);
}
.hero__stat-list {
  position: absolute;
  top: 96px;
  right: 44px;
}
@media screen and (min-width: 1280px) {
  .hero__stat-list {
    top: 156px;
    right: 115px;
  }
}
.hero__stat-list-item {
  position: relative;
}
.hero__stat-list-item:not(:last-child) {
  margin-bottom: 13px;
}
.hero__stat-list-item::before {
  position: absolute;
  top: 0;
  right: -10px;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 0;
}
@media screen and (min-width: 1280px) {
  .hero__stat-list-item::before {
    width: 30px;
    height: 30px;
  }
}
.hero__stat-list-accent-text {
  font-family: var(--secondaryFont);
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  color: #d41443;
  position: relative;
  z-index: 2;
}
.hero__stat-list-text {
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .hero__stat-list-accent-text {
    font-size: 46px;
  }
  .hero__stat-list-text {
    font-size: 14px;
    line-height: 1.29;
  }
}
.hero__img-right {
  position: absolute;
  bottom: 0;
  right: 34px;

  animation-name: appearance;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1280px) {
  .hero__img-right {
    right: 109px;
  }
}
@media screen and (max-width: 767px) {
  .hero__text-wrapper {
    display: none;
  }
  .hero__stat-list {
    display: none;
  }
  .hero__img-left {
    display: none;
  }
  .hero__img-right {
    display: none;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale {
  0% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}
